In [6]:
s = "I love data science"

In [9]:
# s[::-1]

In [ ]:
"science data love I"

In [7]:
s1 = s.split()
leng = len(s1)
l = " "
for i in range(leng):
    l = l + s1[leng - 1 - i]
    
print(l)

 sciencedataloveI

In [5]:
" ".join(s1[leng-1-i] for i in range(leng))

'science data love I'

In [ ]:
a , b, c, d, e

In [ ]:
c1 = student_name, marks

In [ ]:
SELECT marks
FROM tablename