In [29]:
import pandas as pd
import numpy as np
"ji"

'ji'

In [3]:
d = {"r" : 1}
type(d.copy())

dict

In [4]:
s= "var='machine learning'"

In [15]:
d = {"col" : ["1","2","3"], "b" : ["tri", "t", "y"]}

df = pd.DataFrame(d)
df

  col    b
0   1  tri
1   2    t
2   3    y

In [16]:
df["col"].astype(int)

0    1
1    2
2    3
Name: col, dtype: int64

In [22]:
d = {"u1" : 30, "u2" : 50}
for age in d.items():
    print(age[0])

u1
u2

In [25]:
from sklearn.metrics import precision_score as ps

In [26]:
t = [1,0,0,1,0,1]
p = [1,0,0,0,1,0]
ps(t,p)

0.5

In [32]:
from scipy.spatial import distance
a = [1, 2, 3]
b = [4, 5, 6]
dst = distance.euclidean(a, b)
dst

5.196152422706632

In [1]:
np.linalg.norm(a- b)

NameError: name 'np' is not defined

In [36]:
a1 = np.array(a)
b1 = np.array(b)

In [37]:
 np.linalg.norm(a1-b1)

5.196152422706632

In [38]:
np.euclidean(a, b)

AttributeError: module 'numpy' has no attribute 'euclidean'

In [58]:
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import accuracy_score

In [39]:
# Use the following code to generate the data :-

X1 = [10,20,30,35,32,33,27,70,40,50,60]
X2 = [15,16,21,33,7,8,9,11,2,0,5]
X3 = [2,0,0,1,7,6,9,11,2,0,5]
Target = ['X','X','X','X','X','X','Y','Y','Y','Y','Y']
data = pd.DataFrame(
     {'X1': X1,
     'X2': X2,
     'X3': X3,
     'Target' : Target
     })

# For this dataframe, Predict the target using KNN algorithm with the n_neighbours = 15. What is the accuracy score ?

In [40]:
data

    X1  X2  X3 Target
0   10  15   2      X
1   20  16   0      X
2   30  21   0      X
3   35  33   1      X
4   32   7   7      X
5   33   8   6      X
6   27   9   9      Y
7   70  11  11      Y
8   40   2   2      Y
9   50   0   0      Y
10  60   5   5      Y

In [44]:
data["Target"] = data["Target"].map({"X" : 0, "Y" : 1})

In [49]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [64]:
m = KNeighborsClassifier(n_neighbors=15)

In [65]:
m.fit(x,y)
y_pred = m.predict(x)
print(accuracy_score(y, y_pred))

ValueError: Expected n_neighbors <= n_samples,  but n_samples = 11, n_neighbors = 15

In [66]:
for i in range(1,10,3):
    if i % 2:
        print("pass")
        pass
    elif i % 3:
        print("continue")
        continue
    else:
        print("break")
        break

pass
continue
pass

In [68]:
v = "machine learning"
v[0]=="a"

False

In [69]:
a = [0,1,2,3,4]
d = pd.DataFrame(a)
d

   0
0  0
1  1
2  2
3  3
4  4

In [70]:
d[-1:]

   0
4  4

In [ ]:
) 2a="a"

ii) _a=1

iii) as=1

iv) max=1

In [73]:
 max=1
max

1

In [74]:
as = 1
as

SyntaxError: invalid syntax (<ipython-input-74-ed27262768c5>, line 1)

In [75]:
_a = 7
_a

7

In [76]:
pd.isnull(d["a"])

KeyError: 'a'

In [77]:
d.notnull()

      0
0  True
1  True
2  True
3  True
4  True

In [81]:
df[1:2, 1:4]

TypeError: '(slice(1, 2, None), slice(1, 4, None))' is an invalid key

In [17]:
a = {1 : "1", 2 : "2"}
b = a.copy()
c = a

In [18]:
a,b, c

({1: '1', 2: '2'}, {1: '1', 2: '2'}, {1: '1', 2: '2'})

In [14]:
a[3] = "3"

In [16]:
a , b, c

({1: '1', 2: '2', 3: '3'}, {1: '1', 2: '2'}, {1: '1', 2: '2', 3: '3'})

In [7]:
def undo(arr,arr1):
    length_arr = len(arr1)

    if len(arr) != length_arr + 1:
        ind = len(a)
        arr1.append(arr[length_arr])
    return arr1

In [ ]:
a = [1,2,3,4]

In [ ]:
a1 =

In [8]:
l1 = [ [1,2], [3,4] ]

In [9]:
l2 = []
for i in l1:
    for j in i:
        l2.append(j)
max(l2)

4

In [12]:
l4 = [j for i in l1 for j in i]
max(l4)

4

In [26]:
class A1:
    def __init__(self, a, b,c):
        self.a = a
        self._b = b
        self.__c = c
        
class B1(A1):
    def __init__(self, a, b,c,d):
        super().__init__(a,b,c)
        self.d = d

In [28]:
a1 = A1(3,4,5)
# dir(a1)

In [29]:
b1 = B1(6,7,8,9)
dir(b1)

['_A1__c',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_b',
 'a',
 'd']

In [58]:
class A1:
    def __init__(self, a, b,c):
        self.a = a
        self._b = b
        self.__c = c
        
class B1(A1):
    def __init__(self, a, b,c,d):
        super(B1, a, b, c).__init__()
        self.d = d
b2 = B1(7,8,9,10) 
dir(b2)

TypeError: super() takes at most 2 arguments (4 given)

In [59]:
def test(lst):
    for i in lst:
        yield i

l = [1,2,3]
print(test(l))
print(list(test(l)))

<generator object test at 0x7f3edaa34430>
[1, 2, 3]

In [66]:
def generator(lst):
    for i in lst:
        yield i **2

In [73]:
l = [1,2,3]
res = generator(l)
# print(list(res))

In [71]:
print(next(res))
print(next(res))
print(next(res))
print(next(res))

1
4
9

StopIteration:

In [74]:
for i in res:
    print(i)

1
4
9

## Decorator : use for customize the existing function

In [75]:
#suppose existing function
def div(a,b):
    return a/b

In [76]:
print(div(2,4))
print(div(4,2))

0.5
2.0

In [77]:
def smart_div(func): #creating decorator function
    def inner(a,b): #params should be same as existing function
        if a < b:
            a,b = b,a
        return func(a,b)
    return inner

In [78]:
#div or div1
div1 = smart_div(div)

#output : both case : based on logic without touch existing code, getting expected output
print(div1(2,4))
print(div1(4,2))

2.0
2.0

In [79]:
import numpy as np
import pandas as pd

In [84]:
df = pd.DataFrame({"age" : [30, 25, 20, 35]})
df.head()

   age
0   30
1   25
2   20
3   35

In [86]:
np.where(df["age"] > 24 , "yes", "no")

array(['yes', 'yes', 'no', 'yes'], dtype='<U3')

In [88]:
def map_test(val):
    if val > 24:
        return "yes"
    else:
        return "no"

In [89]:
df["age"].map(map_test)

0    yes
1    yes
2     no
3    yes
Name: age, dtype: object

In [96]:
["yes" for i in df["age"] if i > 24  ]

['yes', 'yes', 'yes']

In [100]:
["yes" if i > 24 for i in df["age"]]

SyntaxError: invalid syntax (<ipython-input-100-26fbf2b80029>, line 1)

In [101]:
["yes" if i > 24 else "no" for i in df["age"]]

['yes', 'yes', 'no', 'yes']

In [ ]:
a = [1,2,3,4]

Input arr[] = [1, 2, 3, 4, 5, 6, 7], d = 2, n =7

[3, 4, 5, 6, 7, 1, 2]

In [2]:
Input_arr = [1, 2, 3, 4, 5, 6, 7]
d = 2
n =7

In [6]:
Input_arr = [1, 2, 3, 4, 5, 6, 7]
d = 2
n =7


for i in range(n):
    if i < d:
        Input_arr[n-1-i], Input_arr[i] = Input_arr[i], Input_arr[n-1-i]
        

print(Input_arr)

[7, 6, 3, 4, 5, 2, 1]

In [7]:
arr = [1, 2, 3, 4, 5, 6, 7]
d = 2
n =7

def rotate_arr(Input_arr, rotate, arr_length):
    for i in range(arr_length):
        if i < rotate:
            Input_arr[arr_length-1-i], Input_arr[i] = Input_arr[i], Input_arr[arr_length-1-i]
    return Input_arr

rotate_arr(arr, d, n)

[7, 6, 3, 4, 5, 2, 1]