In [1]:
def t(n):
    for i in range(n):
        yield i ** 3
for i in t(5):
    print(i)

0
1
8
27
64

In [2]:
b = [0,1,2,3,4,5,6,7,8,9]
b[::3]

[0, 3, 6, 9]

In [5]:
def t1(j):
    k=0
    while j > 0:
        k = 10 * k + j % 10
        j = j // 10 
    return k
        
t1(1230)

321

In [8]:
a = 0

for b in range(0, 10 , 2):
    a += b + 1
a

25

In [9]:
x = ['a', 'b', 'c']

y = [x] * 4

y[0][0] = 'p'

print(y)

[['p', 'b', 'c'], ['p', 'b', 'c'], ['p', 'b', 'c'], ['p', 'b', 'c']]

In [2]:
# a1 = [123,543]
# a2 = [321, 279]

a1 = [1234,4321]
a2 = [2345, 3214]


def t2(a1, a2):
    count = 0
    for i in range(len(a1)):
        for j in range(len(str(i))):
            
            res1 = str(a1[i])
            res2 = str(a2[i])
            for k in range(len(res1)):
                result = abs(int(res1[k]) - int(res2[k]))
                count = result + count
    print(str(count))
                              
                             
t2(a1, a2)

10

In [68]:
a1 = [123,543]

a2 = [321, 279]

lenght = len(a1)


def t2(a1, a2):
    count = 0
    for i in range(len(a1)):
        for j in range(len(str(i))):
            
            res1 = str(a1[i])
            res2 = str(a2[i])
            
            
#             print(res1, res2)
#             print(len(res1), len(res2))
            
            for k in range(len(res1)):
                result = abs(int(res1[k]) - int(res2[k]))
                count = result + count
    print(count)
    

                             
                             
t2(a1, a2)

16

In [1]:
a1 = ["123",'543']

a2 = ["321", "279" ]

t = 0 
for x in range(len(a1)):
    for i in a1[x].split():
        for j in a2[x].split(): 
            u = len(i)
            while u >0:
                u  = u - 1
                t = t + abs(int(i[u]) - int(j[u]))
                
print(t)

16

In [42]:
abs(10 - 3)

7

In [74]:
import numpy as np


def sum_triplets(values):
    N = len(values)
    terms = np.zeros(N)

    for i in range(0, N, 1):
        terms[i] = sum_interval(values, i, N-1)

    return terms

arr = np.array([10, 20, 30, 40, 50])
print(sum_triplets(arr))

NameError: name 'sum_interval' is not defined

In [75]:
def sum_interval(values, start, stop):
    N = len(values)
    terms = np.zeros(N)

    for i in np.arange(start, stop + 1, 1):
        terms[i] = values[i]

        ans = np.sum(terms)

    return ans

arr = np.array([10, 20, 30, 40, 50])
print(sum_interval(arr, 2, 4))

120.0