### <font color='green'>File1:  power_actual</font>

1. This file contains the solar generation of a certain plant from October 1st, 2017 to September 30th, 2019.
2. You'll find the following columns: 'power', 'gti' and 'ghi'. Power is the actual power generated while GHI (Global Horizontal Irradiance) and GTI (Global Tilt Irradiance) are the parameters relevant to the that define the radiation received from the sun.

### <font color='green'>File2: weather_actuals</font>
1. This file contains the weather data of the same plant from October 1st, 2017 to September 30th, 2019.
2. The columns' names are self-explanatory.

### <font color='green'>File3: weather_forecast</font>
1. This file contains the weather data from October 1st, 2019 to October 27th, 2019. 

You need to predict the generation of power of the given plan in this duration: October 1st, 2019 to October 27th, 2019.

In [2]:
import pandas as pd
import glob

In [24]:
# glob.glob("*.csv")

In [6]:
power_actual = pd.read_csv("power_actual.csv")

weather_actuals = pd.read_csv("weather_actuals.csv")

weather_forecast = pd.read_csv("weather_forecast.csv")

In [14]:
power_actual.shape, weather_actuals.shape, weather_forecast.shape

((70080, 5), (13619, 31), (648, 31))

In [15]:
power_actual.head()

   Unnamed: 0             datetime  ghi  gti  power
0           0  2017-10-01 00:00:00  0.0  0.0    0.0
1           1  2017-10-01 00:15:00  0.0  0.0    0.0
2           2  2017-10-01 00:30:00  0.0  0.0    0.0
3           3  2017-10-01 00:45:00  0.0  0.0    0.0
4           4  2017-10-01 01:00:00  0.0  0.0    0.0

In [25]:
# weather_actuals.head()

In [26]:
# weather_forecast.head()

In [18]:
power_actual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  70080 non-null  int64
 1   datetime    70080 non-null  object
 2   ghi         35040 non-null  float64
 3   gti         35040 non-null  float64
 4   power       70080 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.7+ MB

In [27]:
# weather_actuals.info()

In [28]:
# weather_forecast.info()

In [40]:
(power_actual["gti"].isna().sum() / len(power_actual)) * 100

50.0

In [21]:
power_actual.isna().sum()

Unnamed: 0        0
datetime          0
ghi           35040
gti           35040
power             0
dtype: int64

In [29]:
# weather_actuals.isna().sum()

In [30]:
# weather_forecast.isna().sum()

### <font color='blue'>Data Preprocessing : Power Actual</font>

In [33]:
power_actual_df = power_actual.drop("Unnamed: 0", axis=1)
power_actual_df.head()

              datetime  ghi  gti  power
0  2017-10-01 00:00:00  0.0  0.0    0.0
1  2017-10-01 00:15:00  0.0  0.0    0.0
2  2017-10-01 00:30:00  0.0  0.0    0.0
3  2017-10-01 00:45:00  0.0  0.0    0.0
4  2017-10-01 01:00:00  0.0  0.0    0.0

In [35]:
power_actual_df.describe()

           ghi      gti         power
count  35040.0  35040.0  70080.000000
mean       0.0      0.0     28.612915
std        0.0      0.0    498.795887
min        0.0      0.0      0.000000
25%        0.0      0.0      0.000000
50%        0.0      0.0      0.000000
75%        0.0      0.0      5.540000
max        0.0      0.0  16172.040000

ghi and gti : no giving more info, we shall drop it.