In [18]:
import pandas as pd
import numpy as np

In [19]:
df2 = pd.DataFrame(np.random.randint(0,100,size=(10, 5)), columns=list('ABCDE'))
df2["target"] = [2,1,1,2,1,2,1,1,2,1]
df2

    A   B   C   D   E  target
0  53  22  40  60  27       2
1   8  26  14  70  57       1
2  30  34  60  90  29       1
3  63  90  55   9  76       2
4  33  41  43  25  17       1
5  45  53  63  51  75       2
6  74  80  41  82  21       1
7  39  15  93   1  23       1
8  77  89  27  67  50       2
9  32  44  19  73  33       1